<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Utilities.SuiteListener"></listener>
</listeners>
  <test name="Regression">
  <parameter name="browser" value="chrome"/>
  <classes>
  <class name="qaTest.LoginTests"/>
  <class name="qaTest.SearchTests"/>
  </classes>
  </test>
</suite> <!-- Suite -->
